.linhaFilme{
    margin-bottom: 30px;
}
.linhaFilme h2{
    margin: 0px 0px 0px 30px;
}
.linhaFilme--listarea{
    overflow-x: hidden;
}
.linhaFilme--item{
    display: inline-block;
}
.linhaFilme--list{
    width: 99999999px;
}